.table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    width: 100%;
    text-align: center;
    border-collapse: separate; 
    border-spacing: 1px;
  }
  .header_element {
    color: black;
    border-radius: 8px;
    padding: 12px 17px;
    background: #d8e615;
    font-weight: bold;
  }
  .element {
    color: #CAD4D6;
    background: #252F48;
    border-radius: 8px;
    padding: 7px 17px;
  }
  .body_row:last-child td {
    border-bottom: none;
  }
  .element:last-child {
    border-right: none;
  }
  .body_row:hover td {
    text-decoration: underline;
    background: #181a1d;
    transition-duration: 0.5s;
  }

  .button1{
    color:  #165a08;
    padding: 15px 20px;
    max-width:250px;
    text-decoration:none;
    text-align:center;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%, #00a33f 50%, #00a33f);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    border: 1px solid  #165a08;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.button1:hover {
  background-position: 0 0;
  color:black;
}

input[type=text] {
  padding: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
}